@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ping Pong Battle 2020</h1>
    <p class="lead">This is the utlimate ping pong turnament everyone didn't know they've been waiting for.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Battle of Forever</h2>
        <p>
            In this application you can see registered singles players and doubles players, register yourself or your team, and see the scheudle. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ping Pong is Fun</h2>
        <p>Ping Pong is a game people play. You can play too.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ov_FO78q9lw">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ping Pong is Life</h2>
        <p>Ping Pong is more than a game for some people, it is their life. Who\'s to say their wrong?</p>
        <p><a class="btn btn-default" href="https://prettysweet.com/health-benefits-ping-pong/">Learn more &raquo;</a></p>
    </div>
</div>